.patientrightcontent {
    overflow-y: auto;
    overflow-x: hidden;
    width: 80%;
    height: 100%;
    margin-left: 20%;
    position: fixed;
    background-color: #f0f0f0;
    background-color: rgb(173, 207, 196);
}